.detalleColeccion {

    
    padding:1rem 1rem;
    margin-bottom:1rem;

    &__titulo{
        text-align:center;
        font-size:200%;
        color:$colorParrafo;
        padding:0;
        margin:0;

        &--sub{
           color: $colorParrafo; 
           text-align:center;
           font-size:100%;
           
           padding:0;
           margin:1rem 0 2rem 0;
        }
        
    }

    .thumb_tec{
        margin: 0;
        height:250px;
        float:left;
        width:auto;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    &__hero {
        font-size: 150%;
        font-weight: 300;
        float:left;
        height:250px;
        text-align: center;
        color:$colorNeutro;
        padding-left:2rem;
        position:relative;

        span {
            width:100%;
            position:absolute;
            font-style:italic;
            top:50%;
            left:0;
            padding-left:2rem;
            transform: translate(0,-50%);

            p {
                margin-bottom:0.5rem;
            }

        }


    }


   
}

.modelosColeccion {
    color:$colorParrafo;
    padding:1rem 1rem;
    margin-bottom:1rem;
    font-size:80%;
    vertical-align:top;
     
    &__articulo{
        display:inline-block;
        text-align:left;
        height:100px;
        overflow:hidden;
        height:100px;
        width:100%;
        vertical-align:top;
    }

    &__itemInfo{
        display:inline-block;
        text-align:left;
        
    }

    &__croquis{

      li img{
        height:80px;
        width:250px;
        -webkit-transform:scale(1);
                transform:scale(1);
      }
        
      li:hover img{
        -webkit-transform:scale(1);
                transform:scale(1);
       }

    }


   


}


.acabadosColeccion {
    color:$colorParrafo;
    padding:1rem 1rem;
    margin-bottom:1rem;
    &__opciones{

        display:inline-block; 
        position:relative;
        float:left;
        padding-right:2rem;
        top:0;
        font-size:80%;

        &-titulo{
            font-size:150%;
            margin-bottom:0.5rem;
        }

        li{
            width:100%;
            margin-bottom:0.25rem;
        }
    }

    ul ul{
        margin-left:1rem;
    }
}

.tecnicoColeccion{
    color:$colorParrafo;
    padding:1rem 1rem;
    margin-bottom:1rem;

    li {
        width:100%;
        clear:both;
        display:inline;
    }
}

.descargasColeccion{
    color:$colorParrafo;
    padding:1rem 1rem;
    margin-bottom:1rem;

    li {
        width:100%;
        clear:both;
        display:inline;
    }

}


   
