.detalleColeccion {

    
    padding:1rem 1rem;
    margin-bottom:1rem;

    &__titulo{
        text-align:center;
        font-size:200%;
        font-weight:200;
        color:$colorParrafo;
        padding:0;
        margin:0;
        text-transform:uppercase;
        &--sub{
           color: $colorParrafo; 
           text-align:center;
           font-size:100%;
           font-weight:400;
           padding:0;
           margin:1rem 0 2rem 0;
        }
        
    }

    .thumb_tec{
        margin: 0;
        height:250px;
        float:left;
        width:auto;
        border-radius: 25px;
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }

    &__hero {
        font-size: 150%;
        font-weight: 300;
        float:left;
        height:250px;
        text-align: center;
        color:$colorNeutro;
        padding-left:2rem;
        position:relative;

        span {
            width:100%;
            position:absolute;
            font-style:italic;
            top:50%;
            left:0;
            padding-left:2rem;
            transform: translate(0,-50%);

            p {
                margin-bottom:0.5rem;
            }

        }


    }


   
}

.modelosColeccion {
    color:$colorParrafo;
    padding:1rem 1.5rem;
    margin-bottom:1rem;
    font-size:80%;
    font-weight:400;
    vertical-align:top;
    
    .noline{
 
        border-bottom:none; 

    }

    h2{
       font-size:150%;
       margin-bottom:1rem;
       padding-bottom:1rem;
       text-align:center;
    } 

    
    h3{
        text-align:center;
        font-size:100%;
        font-weight:400;
        color:$colorParrafo;
        padding:0;
        margin-bottom:2rem;
        text-transform:uppercase;
    }

    &__articulo{
        display:block;
        text-align:left;
        height:auto;
        width:100%;
        vertical-align:top;
        border-bottom:solid 1px $colorNeutro;
        margin-bottom:1rem;



    }

    &__video{

        margin:3rem 0;
        
        h3 {
            margin-top:1rem;
        }
    }

    &__itemInfo{
        display:inline-block;
        text-align:left;
        vertical-align:middle;
        
        &--bold{
            font-size:150%;
            font-weight: 800;
        }
        
    }

    &__croquis{
      
        
      li {
        width:20%;  
        img{
            width:auto;
            max-height:70px;
            -webkit-transform:scale(1);
                transform:scale(1);
        }  
        
      }
        
      li:hover img{
        -webkit-transform:scale(1);
                transform:scale(1);
       }

    }


   


}

.acabadosColeccion {
    color:$colorParrafo;
    padding:1rem 1rem;
    margin-bottom:1rem;

    h3{
        text-align:center;
        font-size:100%;
        font-weight:400;
        color:$colorParrafo;
        padding:0;
        margin-bottom:2rem;
        text-transform:uppercase;
    }

    &__opciones{

        display:inline-block; 
        position:relative;
        float:left;
        padding-right:2rem;
        top:0;
        font-size:80%;
        margin-bottom:1.5rem;

        &-titulo{
            font-size:100%;
            font-weight:400;
            margin-bottom:0.5rem;
            text-transform:uppercase;

            .subOpcion{
                
                font-size:70%;
                font-weight:400;
                display:block;
            }
        }

        li{
            width:100%;
            margin-bottom:0.5rem;
            font-weight:400;
            color:$colorSubOpcion;
        }
    }

    ul ul{
        margin-left:1rem;
    }
}

.tecnicoColeccion{
    color:$colorParrafo;
    padding:1rem 1rem;
    margin-bottom:1rem;

    
    h3{
        text-align:center;
        font-size:100%;
        font-weight:400;
        color:$colorParrafo;
        padding:0;
        margin-bottom:2rem;
        text-transform:uppercase;
    }

    li {
        width:100%;
        font-size:80%;
        color:$colorSubOpcion;
        font-weight:400;
        clear:both;
        display:inline;
        margin:0.5rem 0;
    }
}

.descargasColeccion{
    color:$colorParrafo;
    padding:1rem 1rem;
    visibility:hidden;
    background-color:white;
    
    h3{
        text-align:center;
        font-size:100%;
        font-weight:400;
        color:$colorParrafo;
        padding:0;
        margin-bottom:2rem;
        text-transform:uppercase;
    }


    li {
        width:100%;
        clear:both;
        display:inline;
        margin:0.5rem 0;
        font-weight:400;

        a {
            color:$colorParrafo;
            text-decoration:none;
            cursor:pointer;
            &:visited{
                color:$colorParrafo;
            }

        }

        
    }

}


 @media only screen and (max-width: 1023px){
    .detalleColeccion{

        padding:1rem 0.5rem;
        
        &__hero {
        
         font-size: 120%;
       
        }

        .span-8-of-12{
            width:50%;
        }
    }


    .modelosColeccion {
        font-size:70%;

         &__croquis{
        
        
      li {
        width:33%;  
        img{
            width:auto;
            max-height:80px;
            -webkit-transform:scale(1);
                transform:scale(1);
        }  
        
      }

            li:hover img{
                -webkit-transform:scale(1);
                        transform:scale(1);
            }    

        }
    }


 }  


@media only screen and (max-width: 767px){
 
    .detalleColeccion {

    
        padding:1rem 0.25rem;
        margin-bottom:0.5rem;

        &__titulo{
            text-align:center;
            font-size:125%;
        
        

            &--sub{
            font-size:75%;
            margin:0.5rem 0.25rem 1rem 0.25rem;
            }
            
        }

        .span-4-of-12{
            width:100%;
        }
        .thumb_tec{
                
            margin:1rem;
            width:90%;
            height:auto;

        }

        .span-8-of-12{
            width:100%;
            
        }

        &__hero {
            font-size: 110%;
            padding:0.5rem;

            span {
                padding:2rem;

                p {
                    margin-bottom:0.5rem;
                }
            }
        }
  }

    .modelosColeccion {
     
        
        
        font-size:90%;
        font-weight:400;
      
        h2{
            font-size:120%;
        }

         &__articulo{
            
            
            height:auto;

        }
        .span-1-of-12{
            width:20%;
        }


        .span-4-of-12{
            width:100%;
        }
        &__itemInfo{
            display:inline-block;
            text-align:left;
            vertical-align:top;
            margin-bottom:1rem;
            width:100%;
        }

        &__croquis{
        
        li {

            width:33%;
            img {
                display:block;
                width:auto;
                max-height:150px;
                margin:1rem auto;
            }
            
   
        }


        }


   

    }

    .acabadosColeccion {

        .span-4-of-12{
            width:100%;
        }

    }

    .tecnicoColeccion{
        font-size:80%;
    }

    .descargasColeccion{
        font-size:80%;
        visibility:hidden;
    }
}



@media only screen and (max-width: 480px){
    .tecnicoColeccion{
        h3{
            font-size:120%; 
        }
        
    }

    .acabadosColeccion{
        font-size:80%;
        h3{
            font-size:120%;
        }
    }

    .modelosColeccion{
        h2{
        font-size:100%;
        }
        &__itemInfo{
            &--bold{
                font-size:100%;
            }
        }  
        
        &__croquis{
        
            li {

                width:100%;
                img {
                    display:block;
                    width:auto;
                    max-height:100px;
                    margin:0.25rem auto;
                }
                
    
            }

        }
         
    }

   

}